/* Add CSS Styling */
p {
  background-color: rgb(255, 182, 193);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.same-font-size {
  font-size: 24px;
}

#num2 {
  color: #0000ff;
  font-size: 36px;
}

#num4 {
  background-color: lightgreen;
  font-weight: bold;
}