/* Add CSS Styling */
.one {
  background-color: darkolivegreen;
  color: white;
}

.two {
  background-color: khaki;
}

.one,
.two {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}